.vscode/sftp.json
vendor/

# logs / runtime
*.log
php_errors.log
/storage/*
!/storage/.gitkeep

# vendor (jeśli używasz composera)
vendor/

# env
.env
.env.*.local

# OS/IDE
.DS_Store
.vscode/
.idea/

# temp
tmp/
.cache/
